*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding-top: 5rem;
    background-color: darkgreen;
    display: grid;
    justify-content: center;
}

.table {
    margin: 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 8rem 2.5rem 8rem;
    /* gap: .5rem; */
    justify-content: center;
}

.computer,
.player {
    justify-content: center;
    align-items: center;
}

.computer-card-slot-1,
.player-card-slot-1 {
    position: absolute;
    height: 8rem;
    width: 5.5rem;
}

.card-back {
    position:absolute;
    height: 8rem;
    width: 5.5rem;
    background-image: url("card-back.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    border-radius: .5rem;
}

.computer-card-slot-2,
.player-card-slot-2 {
    position: absolute;
    padding-left: 2rem;
    height: 8rem;
}

/* .next-card {
    position: absolute;
    padding-left: 4rem;
    height: 8rem;
} */

.deck {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border-radius: .5rem;
    color: white;
    user-select: none;
}

.text {
    margin-left: -1.5rem;
    grid-column: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-family: CircularStd,sans-serif;
}

.text-result {
    /* grid-column: span 4; */
    grid-column: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 3rem;
    font-style: italic;
    font-weight: bold;
}

.card {
    background-color: white;
    position: relative;
    height: 8rem;
    width: 5.5rem;
    border: 2px solid black;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

.card.red {
    color: red;
}
.card.black {
    color: black;
}

.card::before,
.card::after {
    position: absolute;
    content: attr(data-value);
    font-size: 1.5rem;
    white-space:pre-wrap;
}

.card::before {
    top: .2rem;
    left: .2rem;
}

.card::after {
    bottom: .5rem;
    right: .2rem;
    transform: rotate(180deg);
}

.btn-control {
    margin: 0;
    padding-top: 2rem;
    display: grid;
    grid-template-rows: repeat(2, 5.5rem);
    gap: .5rem;
    justify-content: center;
}

.btn-special {
    margin: 0;
    display: grid;
    grid-template-columns:repeat(2, 5.5rem);
    gap: .5rem;
    justify-content: center;
}

.btn-normal {
    margin: 0;
    display: grid;
    grid-template-columns:repeat(3, 5.5rem);
    gap: .5rem;
    justify-content: center;
}

.btn {
    align-items: center;
    appearance: none;
    background-size: calc(100% + 20px) calc(100% + 20px);
    border-radius: 100px;
    border-width: 0;
    color: black;
    cursor: pointer;
    display: inline-flex;
    font-family: CircularStd,sans-serif;
    font-size: 1rem;
    font-weight: bold;
    height: auto;
    justify-content: center;
    line-height: 1.5;
    padding: 6px 20px;
    position: relative;
    text-align: center;
    transition: background-color .2s,background-position .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    word-wrap: break-word;
}

.btn.split {
    display: none;
    background-image: 
    linear-gradient(1deg, yellow, #ff9a04 99%);
}

.btn.surrender {
    background-image:
    linear-gradient(1deg, #5f5e5e, #ffffff 99%);
}

.btn.hit {
    background-image: 
    linear-gradient(1deg, #00fc7e, #86fc00 100%);
}

.btn.stand {
    background-image:
    linear-gradient(1deg, #ff0000, #d6ae28 100%);
}

.btn.double {
    background-image: 
    linear-gradient(1deg, #4F58FD, #149BF3 99%);
}

.btn:hover {
    background-position: -20px -20px;
    color:white;
}

.bet-place {
    margin-top: .5rem;
    display: grid;
    /* grid-template-columns: auto; */
    justify-content: center;
    align-items: center;
}

.bet-circle {
    height: 6.5rem;
    width: 6.5rem;
    margin: 1rem;
    border: .3rem solid rgb(148, 138, 138);
    border-radius: 50%;
    background-color: darkgreen;
    position: relative;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

.btn.play-again {
    position: absolute;
    margin-left: 4.5rem;
    margin-top: -3rem;
    background-image: 
    linear-gradient(1deg, #00fc7e, #86fc00 100%);
}

.btn.bet {
    background-image: 
    linear-gradient(1deg, #00fc7e, #86fc00 100%);
}

.btn.x2 {
    background-image: 
    linear-gradient(1deg, yellow, #ff9a04 99%);
}

.btn.max-bet {
    background-image:
    linear-gradient(1deg, #ff0000, #d6ae28 100%);
}

.chip-table {
    margin-top: 2rem;
    padding: .1rem;
    display: grid;
    grid-template-columns:repeat(6, 5rem);
    justify-items: center;
    gap: .5rem;
    border: .3rem solid rgb(148, 138, 138);
    border-radius: .5rem;
    text-align: center;
    font-family: Helvetica;
    font-size: 1.2rem;
    color: black;
    justify-content: center;
    align-items: center;
}

.quick-bet {
    display: grid;
    gap: .5rem;
}

.chip {
    position: relative;
    display: block;
    margin: .2rem;
    width: 5rem;
    height: 5rem;
    border: .5rem dashed white;
    border-radius: 50%;
    line-height: 4rem;
    cursor: pointer;
}

.chip.blue {
    color: blue;
}
.chip.red {
    color: red;
}
.chip.green {
    color: green;
}
.chip.black {
    color: black;
}

/* .chip::before,
.chip::after {
    content: attr(data-value);
    font-size: 3.5rem;
} */

.chip::before {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: -.6rem;
    border-radius: 50%;
    background: red;
    content: '';
}

.chip::after {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: .3rem;
    border: .2rem dashed white;
    border-radius: 50%;
    background:white;
    content: '';
}

.chip.one::before {
    border: .5rem dashed blue;
    background: blue;
}
.chip.one::after {
    background: lightblue;
}

.chip.five::before {
    border: .5rem dashed rgb(179, 22, 22);
    background: rgb(179, 22, 22);
}
.chip.five::after {
    background: rgb(179, 22, 22);
}

.chip.twenty-five::before {
    border: .5rem dashed green;
    background: green;
}
.chip.twenty-five::after {
    background: green;
}

.chip.hundred::before {
    border: .5rem dashed black;
    background: black;
}
.chip.hundred::after {
    background: rgb(105, 101, 101);
}

.btn.help {
    position: fixed;
    top: 15rem;
    right: 0rem;
    border-radius: 10px;
    border-width: 0;
    background-image:
    linear-gradient(1deg, #ff0000, #d6ae28 100%);
}